<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :questionID %>
    <%= form.text_field :questionID %>
  </div>

  <div class="field">
    <%= form.label :prompt %>
    <%= form.text_field :prompt %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :expected_answer %>
    <%= form.text_field :expected_answer %>
  </div>

  <div class="field">
    <%= form.label :page %>
    <%= form.number_field :page %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
