<%= form_with(model: officer_note) do |form| %>
  <% if officer_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer_note.errors.count, "error") %> prohibited this officer_note from being saved:</h2>

      <ul>
        <% officer_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :memID %>
    <%= form.text_field :memID %>
  </div>

  <div class="field">
    <%= form.label :pComplete %>
    <%= form.number_field :pComplete %>
  </div>

  <div class="field">
    <%= form.label :ranking %>
    <%= form.number_field :ranking %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
