<p id="notice"><%= notice %></p>

<p>
  <strong>Memid:</strong>
  <%= @member.memID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @member.officer %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
